@import url(https://fonts.googleapis.com/css?family=Open+Sans:800);

// How many menu items do we have?
$menu-items: 3;

// Colours
$background-color: #121212;
$indicator-color: #1b1817;

// Dynamic Variables
$width: (100/$menu-items) * 1%; // makes each item the right size

.primaryNav {
  @extend %cf; // clear the floats
  list-style: none;
  margin: 0px auto;
  padding: 0;
  width: 100%;

}

.nav-item {
  background: #FF9800;
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  width: $width; //dynamic width
  text-align: center;
  background: #E91E63;
  &:first-child {
    border-radius: 3px 0 0 3px;
  }

  &:last-child {
    border-radius: 0 3px 3px 0;
  }

  &.is-active a {
    color: $indicator-color;
  }

  a {
    color: $background-color;
    display: block;
    padding-top: 20px;
    padding-bottom: 20px;
    text-decoration: none;

    &:hover {
      color: $indicator-color;
    }
  }
}


*, *:before, *:after {
  box-sizing: border-box;
}


%cf:before,
%cf:after {
    content: " ";
    display: table;
}
%cf:after {
    clear: both;
}

// Presentation Styling

html {
  background-color: $background-color;
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  font-size: 15px;
}


.spinner{
  text-align: center;
  left: 50%;
  top: 50%;
  position: absolute;
  font-size: 3rem;
  z-index: 300;
}
