/* You can add global styles to this file, and also import other style files */
@import "~font-awesome/css/font-awesome.css";

html, body {
  font-family: "Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
  margin: 0;
  letter-spacing: 0;
  font-weight: 400;
  font-style: normal;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: rgba(0,0,0,.50);
  font-size: 20px;
  line-height: 1.4;
}
